@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mobile{
  background-image: url('../../public/pattern-divider-mobile.svg');

}
.bg-desktop{
  background-image: url("../../public/pattern-divider-desktop.svg");
}

button:hover{
  filter: drop-shadow(0 0 0.75rem hsl(150, 100%, 66%));
}